* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
} */

:root {
  --primary-color: rgb(49, 52, 62);
  --secondary-color: rgb(159, 198, 205);
  --tertiary-color: rgb(70, 86, 113);
  --primary: #8c54ff;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

html,
body {
  min-height: 100%;
}



/* body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--dark);
  color: var(--light);
  font-family: 'Poiret One', cursive;

} */
/***************************
*   HEADER  *
****************************/

header {
  background-color: var(--primary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 8px 0;
  
}

header h1 {
  background-color: var(--secondary-color);
  font-size: 4vw;
  width: 30%;
  height: fit-content;
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,Arial, sans-serif;   

}

header h1 a {
  color: black; 
}

header a {
  color: var(--secondary-color);
  text-decoration: none;
  
}

header nav {
  display: flex;
  align-items: center;
  margin-top: 8px;
  justify-content: space-around;
  width: 50%;
  
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;

}

header nav ul li {
  padding: 0 10px;
}

header nav ul li a {
  padding: 0px 5px;
  font-size: 2vw;
  
}

header a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

nav  li {
  cursor: pointer;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
  color: var(--secondary-color);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
  color: var(--secondary-color);
}

.header {
  color: var(--secondary);
}

.nav-link {
  color: var(--secondary-color);
}

.active {
  color: var(--secondary);
}

/***************************
*   HERO  *
****************************/

.hero {
  background-image: url("https://github.com/jeffwjohn/Portfolio/blob/master/assets/images/JeffJohnston-img.png?raw=true");
  background-size: cover;
  /* background-position: center; */
  background-position: top;
  background-repeat: no-repeat;
  height: 700px;
  margin-bottom: 8px;

}

/***************************
*   BODY  *
****************************/

body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  background-color: rgb(238, 238, 249);
}
section {
  /* display: flex; */
  color: var(--tertiary-color);
  width: 100%;
}   

.section-title h2 { 
 justify-content: center;
}

h2 {
  font-size: 2rem ;
  font-weight: bold;
  margin: 20px 20px 20px 50px;
}

/***************************
*   BIO  *
****************************/

.bio-wrapper {
  /* border: 1px solid red; */
  display: flex;
  width: 90%;
  margin: 20px auto 0 auto;
  justify-content: center;
  border-top: 2px solid var(--tertiary-color);
}

.bio-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.5;        
}

.bio-text {
  margin: 10px;
  
}

/***************************
*   RESUME  *
****************************/
.resume-wrapper {
  /* border: 1px solid red; */
  display: flex;
  width: 90%;
  margin: 20px auto 20px auto;
  justify-content: left;
  border-top:  2px solid var(--tertiary-color);

}

.resume {
  margin-top: 20px;
}

/***************************
*   CONTACT FORM  *
****************************/
.contact-wrapper {
  /* border: 1px solid red; */
  display: flex;
  width: 90%;
  margin: 20px auto 20px auto;
  justify-content: left;
  border-top:  2px solid var(--tertiary-color);

}
form {
  width: 40%;
  padding-top: 20px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  margin-left: 5px;
  margin-top: 10px;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

#email {
  margin-left: 8px;
}

#message {
  margin-top: 10px;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
  padding: 5px;
}

/* button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
} */

button {
	background: var(--secondary-color);
	border: var(--dark);
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
  font-weight: 600;
  margin-top: 10px ;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

.contact {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,Arial, sans-serif; 
  font-weight: 500; */
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  color: var(--primary-color);
}

.contact-h1 {
  line-height: 1.25;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 5px 0;
  /* width: 100%; */
}

/* .contact-h1::after {
  content: "\a";
  white-space: pre;
} */

/***************************
*   WORK  *
****************************/

.grid-wrapper {
  /* border: 1px solid red; */
  display: flex;
  width: 90%;
  margin: 20px auto 20px auto;
  justify-content: center;
  border-top:  2px solid var(--tertiary-color);

}

.container {
  width: 100%;
  margin: 2rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 5vw);
  grid-gap: 0.25rem; 
  background-color: rgb(238, 238, 249);

}

.gallery__img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  display: block; 
  background-position: right;
}

.gallery__img::after {
  height: 100%;
  width: 100%;
  background: rgba(252, 79, 56, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 20;
}

.gallery__img:hover::after {
  opacity: 0.5;
}

.gallery__item--1 {
  background-image: url("https://github.com/jeffwjohn/Portfolio/blob/master/assets/images/Crypto-Alarm.png?raw=true");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: top;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;

}

.gallery__item--2 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
 
}

.gallery__item--3 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 5;

}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 7;
  
}

.gallery__item--5 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;

}

.container div:hover div::after {
  opacity: 1;
}

figure {
  margin: 0;
  position: relative;
}

.bottom-left h3 {
  z-index: 1;
  position: absolute;
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  font-size: 2rem;
  font-weight: bold;
  left: 0;
  bottom: 5%;
  margin:0;
  opacity: 0.9;
}

.bottom-left h3:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.gallery__item--1 a:link {
  font-style: normal;
  
}

figure a:visited {
  text-decoration: none;
  color: var(--tertiary-color)
}

figure a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  opacity: 1;
}

