* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(49, 52, 62);
  --secondary-color: rgb(159, 198, 205);
  --tertiary-color: rgb(70, 86, 113);
}

/***************************
*   HEADER  *
****************************/

header {
  background-color: var(--primary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 8px 0;
  
}

header h1 {
  background-color: var(--secondary-color);
  font-size: 4vw;
  width: 30%;
  height: fit-content;
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,Arial, sans-serif;    

}

header a {
  color: var(--secondary-color);
  text-decoration: underline;
}

header nav {
  display: flex;
  align-items: center;
  margin-top: 8px;
  justify-content: space-around;
  width: 50%;
  
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;

}

header nav ul li {
  padding: 0 10px;
}

header nav ul li a {
  padding: 0px 5px;
  font-size: 2vw;
  
}

header a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
/***************************
*   HERO  *
****************************/

.hero {
  background-image: url("https://github.com/jeffwjohn/Portfolio/blob/master/assets/images/JeffJohnston-img.png?raw=true");
  background-size: cover;
  /* background-position: center; */
  background-position: top;
  background-repeat: no-repeat;
  height: 700px;
  margin-bottom: 8px;

}

/***************************
*   BODY  *
****************************/

body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  background-color: rgb(238, 238, 249);
}
section {
  display: flex;
  color: var(--tertiary-color);
  width: 100%;
}   

.section-title h2 { 
 justify-content: center;
}

h2 {
  font-size: 2rem ;
  font-weight: bold;
  margin: 20px 20px 20px 50px;
}
/***************************
*   BIO  *
****************************/

.bio-wrapper {
  /* border: 1px solid red; */
  display: flex;
  width: 90%;
  margin: 20px auto 0 auto;
  justify-content: center;
  border-top: 2px solid var(--tertiary-color);
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.bio-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.5;        
}

.bio-text {
  margin: 10px;
  
}

